*{
    margin:0;
    padding:0;
}
:root{
     --navbar-background: #252424;
    --background-primary: #3a4148;
    --color-primary: #f5f4f4;
    --color-primary-hover: #295200;
    --color-hero-background: #3d793d;

}
[data-theme="light"]{
    --navbar-background: #948e8e;
    --background-primary: #e6eaf3;
    --color-primary: #000000;
    --color-primary-hover: #295200;
    --color-hero-background: #3d793d;
}
body{
    background-color: var(--background-primary);
}
.container{
    max-width:1000px;
    margin:0 auto;
}